<app-asistente-fab
  [oculto]="presenter.abierto()"
  [bloqueado]="presenter.asistenteBloqueado()"
  (togglePanel)="presenter.toggle()"
/>

@if (presenter.abierto()) {
  <app-asistente-panel
    [mensajes]="presenter.mensajes()"
    [sugerencias]="presenter.sugerencias()"
    [opciones]="presenter.opcionesDisponibles()"
    [enviando]="presenter.enviando()"
    [deshabilitado]="presenter.procesando()"
    [mostrarHistorial]="presenter.puedeVerHistorial()"
    [mostrarSelectorFechaRetiro]="presenter.requiereFechaRetiro()"
    [fechaRetiroMinima]="presenter.fechaRetiroMinima()"
    (cerrar)="presenter.cerrar()"
    (enviar)="presenter.enviar($event)"
    (sugerencia)="presenter.enviarSugerencia($event)"
    (fechaRetiro)="presenter.enviarFechaRetiro($event)"
    (nuevaConversacion)="presenter.nuevaConversacion()"
    (verHistorial)="presenter.verMensajesAnteriores()"
  />
}
