COGNITO_USER_POOL_ID=tu_pool_id_aqui
COGNITO_CLIENT_ID=tu_client_id_aqui
COGNITO_REGION=tu_region_aqui
COGNITO_DOMAIN=tu_dominio_aqui
REDIRECT_SIGN_IN=http://localhost:4200
REDIRECT_SIGN_OUT=http://localhost:4200
API_URL=tu_api_url_aqui
