<header class="perfil-kiosquero-header">
  <div class="perfil-kiosquero-header__identidad">
    <div
      class="perfil-kiosquero-header__avatar-wrap"
      [attr.aria-label]="'Avatar de ' + nombreKiosquero"
    >
      <div class="perfil-kiosquero-header__avatar">
        <span>{{ iniciales }}</span>
      </div>
    </div>

    <div class="perfil-kiosquero-header__texto">
      <p class="perfil-kiosquero-header__saludo">{{ saludo }}</p>
      <h1 class="perfil-kiosquero-header__nombre">{{ nombreKiosquero }}</h1>
      <p class="perfil-kiosquero-header__rol">Panel operativo del buffet</p>
    </div>
  </div>
</header>