<section class="tip-card" aria-labelledby="tip-titulo">
  <div class="tip-card__left">
    <div class="tip-card__icono" aria-hidden="true">
      <i class="fa-solid fa-lightbulb"></i>
    </div>
    <div class="tip-card__content">
      <h3 id="tip-titulo" class="tip-card__titulo">Tip promocional</h3>
      <p class="tip-card__texto">{{ tipPromocional }}</p>
    </div>
  </div>
  @if (hasAction) {
    <div class="tip-card__action">
      <button type="button" class="tip-card__btn-action" (click)="onActionClick()">
        @if (actionIcon) {
          <i [class]="actionIcon"></i>
        }
        {{ actionText }}
      </button>
    </div>
  }
</section>
