@if (sugerencias.length > 0) {
  <div class="sugerencias-chips" role="list">
    <span class="sugerencias-chips__hint">Preguntame sobre:</span>
    <div class="sugerencias-chips__scroll">
      @for (s of sugerencias; track trackByCapacidad($index, s)) {
        <button
          type="button"
          class="sugerencias-chips__chip"
          role="listitem"
          [disabled]="deshabilitado"
          (click)="onClick(s.capacidad)"
        >
          <span class="sugerencias-chips__emoji" aria-hidden="true">{{ s.emoji }}</span>
          <span class="sugerencias-chips__label">{{ s.label }}</span>
        </button>
      }
    </div>
  </div>
}
