.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

.disponible {
  color: green;
  font-weight: bold;
}

.no-disponible {
  color: red;
  font-weight: bold;
}