@if (isOpen) {
  <div class="modal__overlay">
    <div class="modal__dialog">
      <h2 class="modal__title">
        {{ title }}
      </h2>

      <p class="modal__message">
        {{ message }}
      </p>

      <div class="modal__acciones">
        @if (showCancel) {
          <app-button-component variant="outline" (onClick)="dismiss.emit()">
            {{ cancelText }}
          </app-button-component>
        }
        <app-button-component variant="success" (onClick)="confirm.emit()">
          {{ confirmText }}
        </app-button-component>
      </div>
    </div>
  </div>
}
