<div class="card">

  <h3 class="alumno">
    {{ alerta.alumno }}
  </h3>

  <p class="mensaje">
    {{ alerta.mensaje }}
  </p>

  <p class="categoria">
    Categoría:
    {{ alerta.categoria }}
  </p>

  <p class="porcentaje">
    Gasto:
    {{ alerta.porcentajeGasto }}%
  </p>

  <span class="sugerencia">
    {{ alerta.sugerencia }}
  </span>

  <div class="acciones">

    <button class="limitar">
      Limitar productos
    </button>

    <button class="ignorar">
      Ignorar
    </button>

  </div>

</div>