<fieldset class="otp">
  <legend class="otp__etiqueta">{{ etiqueta }}</legend>
  <div class="otp__grupo" (paste)="onPaste($event)">
    @for (i of indices; track i) {
      <input
        #digito
        class="otp__digito"
        type="text"
        inputmode="numeric"
        maxlength="1"
        autocomplete="one-time-code"
        [value]="digitos()[i]"
        (input)="onInput(i, $event)"
        (keydown)="onKeydown(i, $event)"
        [attr.aria-label]="'Dígito ' + (i + 1)"
      />
    }
  </div>
</fieldset>
